/* * updated to use scss instead */

.button {
    background: black;
    border: 2px solid black;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: .25rem;
}

.button.primary {
    background: teal;
    border-color: teal;
}