@import "/src/_colors";

.button {
    background: black;
    border: 2px solid black;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: .25rem;

    &:hover, &:active, &:focus {

    }

    &[disabled] {
        pointer-events: none;
        opacity: .5;
    }

    &.primary {
        background: $primary;
        border-color: $primary;
    }

    &.secondary {
        background: $secondary;
        border-color: $secondary;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.br-slight {

    }

    &.br-curved {

    }

    &.br-round {

    }

    &.sm {

    }

    &.md {
        font-size: 1em;
    }

    &.lg {

    }
}