@import "/src/_colors";

.button {
    background: black;
    border: 2px solid black;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: .25rem;

    &.primary {
        background: $primary;
        border-color: $primary;
    }

    &.secondary {
        background: $secondary;
        border-color: $secondary;
    }

    &.uppercase {
        text-transform: uppercase;
    }
}