@import "/src/_colors";

.btn {
    padding: 4px 8px; // TODO: update this with variables from the sizes below, when I get that far
    cursor: pointer;
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    border: 1px solid var(--btn-border);
    background: var(--btn-background);
    transition: .25s ease;
    font-size: 1em;

    &:hover, &:active, &:focus {
        background-color: $default-80;
    }

    &[disabled] {
        pointer-events: none;
        opacity: .5;
    }

    
    &.success {
        background-color: $success;
        border-color: $success;
    }

    &.text {
        
    }
    
    &.contained {
        --btn-background: black;
        --btn-border: black;
        --btn-color: white;
        background-color: black;
        border: 2px solid black;
        color: white;
        
        &:hover, &:active, &:focus {
            background-color: $default-80;
        }
    }
    
    &.outlined {
        border: 2px solid black;
    }
    
    &.warning {
        background-color: $warning;
        border-color: $warning;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.br-slight {
        --btn-radius: .125em;
    }

    &.br-curved {
        --btn-radius: .5em;
    }

    &.br-round {
        --btn-radius: 10em;
    }

    &.sm {
        font-size: .8em;
        padding: 2px 4px;
    }

    &.md {
        font-size: 1em;
        padding: 4px 8px;
    }

    &.lg {
        font-size: 1.5em;
        padding: 8px 16px;
    }

    .icon {
        margin-right: 5px;
    }
}