$default: hsl(0, 0%, 0%);
$default-10: hsl(0, 0%, 10%);
$default-20: hsl(0, 0%, 20%);
$default-30: hsl(0, 0%, 30%);
$default-40: hsl(0, 0%, 40%);
$default-50: hsl(0, 0%, 50%);
$default-60: hsl(0, 0%, 60%);
$default-70: hsl(0, 0%, 70%);
$default-80: hsl(0, 0%, 80%);
$default-90: hsl(0, 0%, 90%);

$warning: hsl(0, 100%, 50%);
$warning-10: hsl(0, 100%, 10%);
$warning-20: hsl(0, 100%, 20%);
$warning-30: hsl(0, 100%, 30%);
$warning-40: hsl(0, 100%, 40%);
$warning-50: hsl(0, 100%, 50%);
$warning-60: hsl(0, 100%, 60%);
$warning-70: hsl(0, 100%, 70%);
$warning-80: hsl(0, 100%, 80%);
$warning-90: hsl(0, 100%, 90%);

$success: hsl(130, 100%, 50%);
$success-10: hsl(130, 100%, 10%);
$success-20: hsl(130, 100%, 20%);
$success-30: hsl(130, 100%, 30%);
$success-40: hsl(130, 100%, 40%);
$success-50: hsl(130, 100%, 50%);
$success-60: hsl(130, 100%, 60%);
$success-70: hsl(130, 100%, 70%);
$success-80: hsl(130, 100%, 80%);
$success-90: hsl(130, 100%, 90%);